@mixin loader($width: 100px, $border: 4px) {
  &::after{
    content: "";
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    border: $border solid #f3f3f3; /* Light grey */
    border-top: $border solid #007bff; /* Blue */
    border-radius: 200%;
    width: $width;
    height: $width;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
